---
vault_postgres_db: <postgresql database name>
vault_postgres_user: <postgresql username>
vault_postgres_password: <postgresql password>

vault_domain_name: <your domain>
vault_cloudflare_owner_mail: <your cloudflare registration domain>
vault_cloudflare_dns_api_token: <your cloudflare API token>